/*
# is used to specify that you're referring to an id 
. is used to specify that you're referring to a class
*/

body {
    /*BACKGROUND*/
    background-image:url("images/greenfelt.jpg");
    background-size:cover;
    /*TEXT*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    color:white;
    font-weight:bold;
}
h1 {
    color:goldenrod;
}
#message-el {
    font-style:italic;
}
#start-btn {
    border:none;
    border-radius:2px;
    background-color:goldenrod;
    color:#016f32;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
    width:150px;
    margin:2px;
}
#newCard-btn {
    border:none;
    border-radius:2px;
    background-color:goldenrod;
    color:#016f32;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
    width:150px;
    margin:2px;
}